# Lab 3

In [3]:
import pandas as pd

# Part 3: Read xlsx

In [5]:
df = pd.read_excel("Data/Agricultural_machinery.xlsx", 'Data', skiprows=3)

print(df.shape)
df.head()

(266, 66)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,169776.0,176648.0,180067.0,185072.0,191771.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,120.0,150.0,200.0,200.0,300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,2733.0,3772.0,4577.0,5404.0,6364.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,800.0,1645.0,2000.0,2817.0,3000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
Length: 66, dtype: object

# Q3.1:  In 1965, what were the Top 10 Countries for agricultural machinery?

In [11]:
df_Q1 = df.sort_values(by='1965', ascending=False)

print("Q3.1:  In 1965, what were the Top 10 Countries for agricultural machinery? ")

df_TopN = df_Q1.iloc[ : 10]
print(df_TopN.shape)
df_TopN

Q3.1:  In 1965, what were the Top 10 Countries for agricultural machinery?
(10, 66)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
259,World,WLD,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,9984368.0,10386208.0,10815805.0,11238324.0,11617323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,OECD members,OED,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,9244087.0,9584264.0,9949959.0,10303576.0,10622199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,High income,HIC,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,9210332.0,9551528.0,9914656.0,10275019.0,10594894.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Post-demographic dividend,PST,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,8998522.0,9323735.0,9666620.0,10006171.0,10293451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,North America,NAC,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,5239829.0,5288419.0,5323003.0,5360633.0,5386950.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,United States,USA,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,4690000.0,4730000.0,4755000.0,4783000.0,4800000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,European Union,EUU,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,2996551.0,3262727.0,3559050.0,3846038.0,4100197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Euro area,EMU,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,2524044.0,2752021.0,2995848.0,3238661.0,3450561.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Germany,DEU,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,1027884.0,1099101.0,1164392.0,1224613.0,1288372.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,IDA & IBRD total,IBT,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,938248.0,1012059.0,1095070.0,1176380.0,1264098.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN